<div class="home-page-header">
	<div class="user-details">
		<div class="pull-left left-top-cont">
			<div>Welcome: Chethana D C</div>
			<div>Last Login Time:10/05/2017 10.10 PM</div>
		</div>
		<div class="pull-right right-top-cont">
			<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
		</div>
	</div>
</div>
<div class="container-fluid padding-rm-bckgclr">
	<div class="left-menu">
		<ul>
			<li class="dropdown" >
				<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">TICKET BOOKING</a>
				<div  class="dropdown-menu" role="menu">
					<form>
						<div class="input-group">
							<label>Source</label> <input class="form-control" type="text" />
						</div>
						<div class="input-group">
							<label>Destination</label> <input class="form-control"
								type="text" />
						</div>
						<div class="input-group">
							<label>Date of Journey</label>
							<div class="input-group date">
								<input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" placeholder="mm/dd/yyyy" style="padding-left: 50px">
								<div class="input-group-addon" (click)="dp.show()">
									<span class="glyphicon glyphicon-calendar" ></span>
								</div>
							</div>
						</div>
					</form>
				</div></li>
			<li><a href="javascript:void(0);">FAVOURITE JOURNEYS</a></li>
			<li><a href="javascript:void(0);">PROFILE</a></li>
			<li><a href="javascript:void(0);">PYMENT SYSTEM</a></li>
		</ul>
	</div>
</div>
<!-- <div class="home-page-footer">
	<div>
		Copyright&nbsp;<i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;2017-Indian
		Railways.All rights are reserved.
	</div>
</div> -->
