<div class="home-page-header">
	<div class="user-details">
		<div class="pull-left left-top-cont">
			<div>Welcome: Chethana D C</div>
			<div>Last Login Time:10/05/2017 10.10 PM</div>
		</div>
		<div class="pull-right right-top-cont">
			<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
		</div>
	</div>
</div>
<div class="container-fluid padding-rm-bckgclr">
	<div class="left-menu">
		<ul style="list-style-type: none;">
			<li><a>A</a></li>
			<li>B</li>
			<li>C</li>
			<li>D</li>
		</ul>
	</div>
</div>
<div class="home-page-footer">
	<div>
		Copyright&nbsp;<i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;2017-Indian
		Railways.All rights are reserved.
	</div>
</div> 