.user-details {
	background-color: orange !important;
	padding-left: 10px;
	padding-right: 10px;
}

.left-top-cont {
	text-align: left;
}

.right-top-cont {
	
}

.home-page-header {
	background-color: #06e0ff;
	border: 1px solid;
	padding-top: 10px;
	display: inline-block;
	width: 100%;
	vertical-align:top;
}

.padding-rm-bckgclr{
	padding-left: 0px !important;
	padding-right: 0px !important;
	background-color: #ffa17f;
	height: 80vh;
}

.home-page-footer{
	background-color: silver;
	height: 10vh;
}
