<div class="container-fluid">
  <form class="form-horizontal" #registrationForm="ngForm" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="userId">User ID:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="userId" [(ngModel)]="pass.id" [ngModelOptions]="{standalone: true}" placeholder="Enter User ID">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-2"> 
        <input type="password" class="form-control" id="pwd" [(ngModel)]="pass.password" [ngModelOptions]="{standalone: true}" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"   for="name">User Name:</label>
        <div class="col-sm-2"> 
          <input type="text" class="form-control" id="name" [(ngModel)]="pass.name" [ngModelOptions]="{standalone: true}" placeholder="Enter User Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="age">Age:</label>
        <div class="col-sm-2"> 
          <input type="text" class="form-control" [(ngModel)]="pass.age" id="age" [ngModelOptions]="{standalone: true}" placeholder="Enter Age">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="gender">Gender:</label>
        <div class="col-sm-2"> 
          <span>Male</span><input type="radio"   name="gender" value="M"  [ngModelOptions]="{standalone: true}" [(ngModel)]="pass.gender">
          <span>Female</span><input type="radio"  name="gender" value="F" [ngModelOptions]="{standalone: true}" [(ngModel)]="pass.gender">
        </div>
    </div>

    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" class="btn btn-default" (click)="register()">Submit</button>
      </div>
    </div>
  </form>

</div>