<div class="container-fluid">
  <div style="height:50px;">

  </div>
  <div [hidden]="!showMessage">
    {{message}}<br>
    Click <a href="http://localhost:4200/login">here</a> for Login Page...
  </div>
  <form class="form-horizontal" #registrationForm="ngForm" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="userId">User ID:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="userId" [(ngModel)]="pass.id" [ngModelOptions]="{standalone: true}" placeholder="Enter User ID">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-2"> 
        <input type="password" class="form-control" id="pwd" [(ngModel)]="pass.password" [ngModelOptions]="{standalone: true}" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"   for="name">User Name:</label>
        <div class="col-sm-2"> 
          <input type="text" class="form-control" id="name" [(ngModel)]="pass.name" [ngModelOptions]="{standalone: true}" placeholder="Enter User Name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="age">Age:</label>
        <div class="col-sm-2"> 
          <input type="text" class="form-control" [(ngModel)]="pass.age" id="age" [ngModelOptions]="{standalone: true}" placeholder="Enter Age">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="gender">Gender:</label>
        <div class="col-sm-2"> 
          <span>Male</span><input type="radio"   name="gender" value="M"  [ngModelOptions]="{standalone: true}" [(ngModel)]="pass.gender">
          <span>Female</span><input type="radio"  name="gender" value="F" [ngModelOptions]="{standalone: true}" [(ngModel)]="pass.gender">
        </div>
    </div>
    Address Details
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">House No:</label>
      <div class="col-sm-2"> 
        <input type="text" class="form-control" [(ngModel)]="pass.address.houseNo"  [ngModelOptions]="{standalone: true}" placeholder="Enter House No">
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="age">Street:</label>
    <div class="col-sm-2"> 
      <input type="text" class="form-control" [(ngModel)]="pass.address.street"  [ngModelOptions]="{standalone: true}" placeholder="Enter Street">
    </div>
 </div>
<div class="form-group">
  <label class="control-label col-sm-2" for="age">Taluk:</label>
  <div class="col-sm-2"> 
    <input type="text" class="form-control" [(ngModel)]="pass.address.taluk"  [ngModelOptions]="{standalone: true}" placeholder="Enter Taluk">
  </div>
 </div>

    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" class="btn btn-default" (click)="register()">Submit</button>
      </div>
    </div>
  </form>
</div>