.login-makeup{
	background-color: #d9ffdc;
	border: thin solid;
	border-radius: 5px;
	margin:auto;
	width: 50%;
	margin-top: 5%;
	padding-bottom:2%;
}

.login-col{
	margin-top: 7%;
	background-color: inherit;
	display: inline-block;
}
.header{
	
  background-color: aqua;
}

.loginpop{
	margin-top: 10%;
}

.form-align{
	margin-top:70px;
}