
<div class="header">
	<h1>Welcome to {{title}}!!</h1>
</div>
<div class="login-makeup">
	<div class="login-col">
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-6 col-lg-6">User Name:</div>
				<div class="col-md-6 col-lg-6">
					<input type="text" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-6">Password:</div>
				<div class="col-md-6 col-lg-6">
					<input type="password" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3 col-md-offset-3 col-lg-3 ">
					<input type="button" value="Submit" />
				</div>
			</div>
		</div>
	</div>
</div>